Flask
requests
SQLAlchemy
Werkzeug
Flask-Login
Flask-SqlAlchemy
Flask-Migrate
Flask-Restful
Flask-Cors
PyJWT
pandas
numpy
matplotlib
seaborn
scikit-learn
pymysql
python-dotenv
twilio
boto3
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
prophet
hdbscan
flask==3.0.0
flask-cors==4.0.0
requests==2.31.0